---
import PathFinderIcon from "@/assets/icons/PathIcon.astro";
import Title from "../components/Title.astro";
import ProjectFooter from "../components/ProjectFooter.astro";
import Divider from "../components/Divider.astro";
import Card from "@/components/GlowCard.astro";
import FoodIcon from "@/assets/icons/Food.astro";
import TieIcon from "@/assets/icons/TieIcon.astro";
import ForkIcon from "@/assets/icons/Forkicon.astro";

const projects = {
  omnifood: {
    title: "Omnifood",
    description:
      "Elevate your health journey with a captivating landing page design for a fictional healthy delivery service – where wellness meets seamless online experience.",
    tech: ["HTML", "CSS", "JS"],
    link: "https://andres-omnifood.netlify.app/",
    github: "https://github.com/dresan22/omnifood-lp",
    // image: OmnifoodIcon,
    icon: FoodIcon,
  },
  crwn: {
    title: "Crwn",
    description:
      "Dynamic E-commerce Platform: Elevating Fashion Trends Online – A sleek and intuitive shopping website offering a curated collection of modern, trend-setting clothing for a seamless and stylish online shopping experience",
    tech: ["HTML", "CSS", "JS"],
    link: "https://crwn-clothing-dresan22.vercel.app",
    github: "https://github.com/dresan22/crwn-clothing",
    // image: CrwnIcon,
    icon: TieIcon,
  },
  pathfinder: {
    title: "Path Finder",
    description:
      "AI-powered Career Navigator: A cutting-edge web platform that leverages artificial intelligence to analyze individual skills, preferences, and market trends, guiding users towards personalized and fulfilling career paths.",
    tech: ["HTML", "CSS", "JS"],
    link: "https://findmypath.vercel.app",
    github: "https://github.com/dresan22/PathFinder",
    // image: PathFinderIcon,
    icon: PathFinderIcon,
  },
  forkify: {
    title: "Forkify",
    description:
      "Engaging React-powered project for a interactive recipe platform, featuring seamless navigation, and a modern UI for an enhanced culinary experience.",
    tech: ["HTML", "CSS", "JS", "React"],
    link: "https://forkify-andres.netlify.app/",
    github: "https://github.com/dresan22/forkify-andres",
    // image: ForkifyIcon,
    icon: ForkIcon,
  },
};
---

<!-- TODO: add wrapper to add shadow on divider -->
<section
  class="relative min-h-[calc(100vh+200px)] py-[calc(var(--angle-divider)*2)] grid place-items-center middle inset-shadow bg-black bg-opacity-70"
  id="parent"
>
  <Title text="01.Projects" />

  <div
    id="cards"
    class="grid grid-cols-12 max-w-6xl w-full gap-3 opacity-100 mt-10"
  >
    <!-- PROJECT 1: OMNIFOOD ----------------------------------------------->
    <Card width="col-span-12 md:col-span-5" link={projects.omnifood.link}>
      <a
        href={projects.omnifood.link}
        target="_blank"
        class="h-full w-full relative p-10 grid content-center"
      >
        <div
          class="absolute right-[0%] top-0 grid opacity-25 text-slate-500 size-[60%]"
        >
          <projects.omnifood.icon />
        </div>
        <h2 class="text-6xl">{projects.omnifood.title}</h2>
        <p class="text-pretty">
          {projects.omnifood.description}
        </p>
        <ProjectFooter project={projects.omnifood} />
      </a>
    </Card>
    <!-- PROJECT 2:CRWN -------------------------------------------------->

    <Card width="col-span-12 md:col-span-7" link={projects.crwn.link}>
      <a
        href={projects.crwn.link}
        target="_blank"
        class="h-full w-full relative p-10 grid content-center"
      >
        <div
          class="absolute right-[-5%] top-0 grid opacity-25 text-slate-500 size-[50%]"
        >
          <projects.crwn.icon />
        </div>
        <h2 class="text-6xl">{projects.crwn.title}</h2>
        <p class="text-pretty">
          {projects.crwn.description}
        </p>
        <ProjectFooter project={projects.crwn} />
      </a>
    </Card>
    <!-- PROJECT 3: PATH FINDER ---------------------------------------------------->

    <Card width="col-span-12 md:col-span-8" link={projects.pathfinder.link}>
      <a
        href={projects.pathfinder.link}
        target="_blank"
        class="h-full w-full relative p-10 grid content-center"
      >
        <div
          class="absolute right-[0%] top-0 grid opacity-25 text-slate-500 size-[40%]"
        >
          <projects.pathfinder.icon />
        </div>
        <h2 class="text-6xl">{projects.pathfinder.title}</h2>
        <p class="text-pretty">
          {projects.pathfinder.description}
        </p>
        <ProjectFooter project={projects.pathfinder} />
      </a>
    </Card>
    <!--PROJECT 4: FORKIFY -------------------------------------------------->
    <Card width="col-span-12 md:col-span-4" link={projects.forkify.link}>
      <a
        href={projects.forkify.link}
        target="_blank"
        class="h-full w-full relative p-10 grid content-center"
      >
        <div
          class="absolute right-[0%] top-0 grid opacity-25 text-slate-500 size-[80%]"
        >
          <projects.forkify.icon />
        </div>
        <h2 class="text-6xl">{projects.forkify.title}</h2>
        <p class="text-pretty">
          {projects.forkify.description}
        </p>
        <ProjectFooter project={projects.forkify} />
      </a>
    </Card>
  </div>
</section>
<!-- <Divider /> -->
<style is:global>
  @keyframes fade-in {
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  section .card {
    cursor: pointer;
    transform: translateY(100px);
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 200px 300px;
  }

  .inset-shadow {
    box-shadow: inset 0px 0px 150px black;
  }
  section {
    transition: all 1s ease;
  }
</style>
<script>
  const parent = document.getElementById("parent");
  const cards = document.querySelectorAll("section .card");
  cards.forEach((item: HTMLElement, index) => {
    item.addEventListener("mouseenter", () => {
      parent.classList.add("backdrop-blur-[2px]");
    });
    item.addEventListener("mouseleave", () => {
      parent.classList.remove("backdrop-blur-[2px]");
    });
  });
</script>
